body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.card {
  width: 100px;
  height: 200px;
  border: 1px solid black;
  border-radius: 4px;


}

.text{
  margin: 10px;

}

.text.underlined{
  margin: 10px;
  text-decoration: underline;
}

.card.one{
  width: 100px;
}

.card.two{
  width: 200px;
}

.card.three{
  width: 300px;
}

.card.five{
  width: 500px;
}



